@page "/"
@using RealGoodApps.BlazorJavascript.Interop.Extensions
@using RealGoodApps.BlazorJavascript.Interop.Interfaces
@inject IJSRuntime _jsRuntime

<button @onclick="Print">Print</button>

@code {
    private void Print()
    {
        if (_jsRuntime is not IJSInProcessRuntime jsInProcessRuntime)
        {
            return;
        }

        BlazorJavascriptInitialization.Initialize(jsInProcessRuntime);
        var window = jsInProcessRuntime.GetGlobalObjectByName<IWindow>("self");

        if (window == null)
        {
            return;
        }

        var nan = jsInProcessRuntime.CreateNaN();
        var pInf = jsInProcessRuntime.CreatePositiveInfinity();
        var nInf = jsInProcessRuntime.CreateNegativeInfinity();
        var d = jsInProcessRuntime.CreateNumberFromDouble(123);
        var i = jsInProcessRuntime.CreateNumberFromInt(123);

        foreach (var num in new[] { nan, pInf, nInf, d, i })
        {
            window.Alert(jsInProcessRuntime.CreateString($"NaN: {num.IsNaN()}, +I: {num.IsPositiveInfinity()}, -I: {num.IsNegativeInfinity()}, I: {num.IsInfinity()}"));
        }
    }
}
