@page "/"
@using RealGoodApps.BlazorJavascript.Interop.Extensions
@using RealGoodApps.BlazorJavascript.Interop.Interfaces
@using RealGoodApps.BlazorJavascript.Interop.BuiltIns
@inject IJSRuntime _jsRuntime

<button id="printButton" @onclick="Print" style="color: red">Print</button>

@code {
    private void Print()
    {
        if (_jsRuntime is not IJSInProcessRuntime jsInProcessRuntime)
        {
            return;
        }

        var window = jsInProcessRuntime.GetWindow();
        window.console.clear();

        var printButtonElement = window.document.getElementById(jsInProcessRuntime.CreateString("printButton"));
        var computedStyle = window.getComputedStyle(printButtonElement, null);

        Console.WriteLine(printButtonElement.innerText.ConvertToDotNetString());
        Console.WriteLine(computedStyle.color.ConvertToDotNetString());

        var now = window.Date.now();
        Console.WriteLine($"It is: {now.IsNaN()}");
        Console.WriteLine($"It is: {now.IsInteger()}");
        Console.WriteLine($"It is: {now.ConvertToDotNetLong()}");

        var body = window.document.body;
        var appendChildFunction = body.GetPropertyOfObject("appendChild") as JSFunction;
        var newElement = window.document.createElement(jsInProcessRuntime.CreateString("button"), null) as IHTMLButtonElement;
        appendChildFunction?.Invoke(body, newElement);
        newElement.disabled = jsInProcessRuntime.CreateBoolean(true);
        newElement.innerText = jsInProcessRuntime.CreateString("My Button");
        window.document.title = jsInProcessRuntime.CreateString("Well hello, there!");

        var date = window.Date.construct();
        var date2 = window.Date.construct(
            jsInProcessRuntime.CreateNumberFromInt(2022),
            jsInProcessRuntime.CreateNumberFromInt(4),
            jsInProcessRuntime.CreateNumberFromInt(5),
            jsInProcessRuntime.CreateNumberFromInt(3),
            jsInProcessRuntime.CreateNumberFromInt(20),
            jsInProcessRuntime.CreateNumberFromInt(22),
            jsInProcessRuntime.CreateNumberFromInt(0));

        Console.WriteLine(date.toLocaleString().ConvertToDotNetString());
        Console.WriteLine(date2.toLocaleString().ConvertToDotNetString());
    }
}
