@page "/"
@using RealGoodApps.BlazorJavascript.Interop.Extensions
@using RealGoodApps.BlazorJavascript.Interop.Interfaces
@using RealGoodApps.BlazorJavascript.Interop.BuiltIns
@inject IJSRuntime _jsRuntime

<button @onclick="Print">Print</button>

@code {
    private void Print()
    {
        if (_jsRuntime is not IJSInProcessRuntime jsInProcessRuntime)
        {
            return;
        }

        var window = jsInProcessRuntime.GetWindow();

        var body = window.Document.Body;
        var appendChildFunction = body.GetPropertyOfObject("appendChild") as JSFunction;
        var newElement = window.Document.CreateElement(jsInProcessRuntime.CreateString("button"), null) as IHTMLButtonElement;
        appendChildFunction?.Invoke(body, newElement);
        newElement.Disabled = jsInProcessRuntime.CreateBoolean(true);
        newElement.InnerText = jsInProcessRuntime.CreateString("My Button");
        window.Document.Title = jsInProcessRuntime.CreateString("Well hello, there!");
    }
}
